.category-section {
  .active {
    // color: aqua;
    background-color: black;
    div {
      color: #fff !important;
    }
  }
}

.filtere::-webkit-scrollbar {
  display: none;
}

// body {
//   scrollbar-width: none;  /* Firefox */
// }
