.nav-card:hover .service-arrow {
  opacity: 1;
}

.nav-card:hover {
  background-color: #fff;
}
.index-hover {
  display: none;
}
.hover-logo:hover .index-hover {
  display: block;
}
.hover-logo:hover .index-hover2 {
  display: none;
}
.lists {
  display: none;
  position: fixed;
  z-index: 9999999;
  background: white;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0 40px 0;
  height: 100vh;
  overflow: hidden;
}
.service-nav {
  background: white;
}
.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}
