.lets-talk {
  font-size: 258px;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
  display: inline-block;
  position: relative;
  color: white;
  text-shadow: 1px 1px 0px black, -1px -1px 0px black, -1px 1px 0px black,
    1px -1px 0px black;
  background-position: 0 100%;
  transition: all 0.5s ease-in-out;
}

.lets-talk:hover {
  background-position: 0 0;
  color: black;
  text-shadow: 0px 0px 0px black, 0px 0px 0px black;
}

.bottom-line {
  border: 2px solid black;
  transition: all 0.5s ease-in-out;
  margin-left: 31px;
}

.lets-talk:hover ~ .bottom-line {
  background-color: black;
  width: 1039px;
}

/* ScrollToTopButton.css */
.scroll-to-top-button {
  z-index: 99;
  position: absolute;
  bottom: 600px;
  right: 80px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button.visible {
  opacity: 1;
}

.goup {
  height: 30px;
  width: 30px;  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
  transition: all 1s ease;
}
.bottonn {
  transition: all 1s ease;
}

.bottonn:hover .goup {
  // top: -15px;
  top: -16px;
  // margin-top: -20px;
}
.bottonn:hover .topto {
  // top: -15px;
  // top: -20px;
  text-decoration: underline;
  // margin-top: -20px;
}

// .bottonn:hover .twoarrow {
//   top: 15px;
// }
@media (max-width: 1229px) {
  .scroll-to-top-button {
    position: absolute;
    bottom: 600px;
    right: 40px;
  }
  .lets-talk {
    font-size: 160px;
  }
}
@media (max-width: 1075px) {
  .scroll-to-top-button {
    position: absolute;
    bottom: 1200px;
    right: 40px;
  }
}
@media (max-width: 1024px) {
  .lets-talk {
    font-size: 149px;
    color: black !important;
  }
  .bottom-line {
    background-color: black;
    width: 95%;
    height: 10px;
    margin-left: 20px;
  }
}

@media (max-width: 787px) {
  .lets-talk {
    font-size: 138px;
  }
  .scroll-to-top-button {
    position: absolute;
    bottom: 1500px;
    right: 40px;
  }
}

@media (max-width: 640px) {
  .lets-talk {
    font-size: 90px;
    color: black !important;
  }
  .scroll-to-top-button {
    z-index: 99;
    position: absolute;
    bottom: 890px;
    right: 0px;
    padding: 0;
  }
  .bottom-line {
    background-color: black;
    width: 380px;
    height: 7px;
    margin-left: 15px;
  }
}
@media (max-width: 440px) {
  .lets-talk {
    font-size: 63px;
    color: black !important;
  }
  .letter-spacing-7 {
    letter-spacing: -0.64px;
  }
  .bottom-line {
    background-color: black;
    width: 270px;
    height: 5.71px;
    margin-left: 13px;
  }
}
