@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: Graphik;
  src: url(./../public/GraphikRegular.woff2);
  font-display: swap;
}
@font-face {
  font-family: mono chivo;
  src: url(./../public/ChivoMono-Medium.woff2);
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  box-sizing: border-box;
  scroll-behavior: auto;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Graphik;
}
.blur-background{
  background-image: url('./Components/pages/tradejini/assets/image\ 194.jpg');
  background-repeat: no-repeat;
}